.m{
    height: 50px;
background-color:blue;
}
.s{
    padding-left: 180px;
    padding-top: 15px;

}
.e{
    background-color:green;
    height: 1000px;
    width: 1500px;

}
.i{
  padding-left: 170px;  
}
.L{
    padding-left:170px;
}
.P{
    padding-left:170px;
    padding-right:300px;
}
.box{

    padding-bottom: 30px;
  height:80px;
  width:630px;
  background-color: aqua;
}
.u{
    padding-top: 5px;
}
.oo{
    
    width: 200px;
    height:18px;
}
.o{
    padding-left: 30px;
}
.gr{
    height: 21px;
   width: 90px; 
}
.tu{
    padding-left: 180px;
}
.tr{
    padding-left:80px;
    font-size: 23px;
}
.N{
    padding-left:240px;
}
.g{
 padding-left:260px;
}
.no{
    padding-top:30px;
    padding-left:165px;
    height: 270px;
    width: 250px;
    background-color:wheat;
}
.c{
    padding-left:295px;
}
.ti{
    padding-left: 290px;
}
.y{
    background-color: blue;
    color:white;
    width:220px;
}
.uu{
    padding-left: 260px;
    color:black
}
.ppp{
    padding-left: 400px;
}